<div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.author_firstName}}" placeholder="Author First Name" name="author_firstName">
      <label for="floatingInput">Author First Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.author_lastName}}" placeholder="Author Last Name" name="author_lastName">
      <label for="floatingInput">Author Last Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.title}}" placeholder="title" name="title">
      <label for="floatingInput">Title</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.genre}}" placeholder="Genre" name="genre">
      <label for="floatingInput">Genre</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.lcoation}}" placeholder="Location" name="location">
      <label for="floatingInput">Location</label>
    </div>
  </div>

  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>